@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
}

.header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #EEEEEE;
    padding: 0 5%;
    box-shadow: 0 3px 10px 0 rgb(0 , 0 , 0 , 0.25);
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.flex_row {
    display: flex;
    list-style: none;
    flex-grow: 0.1;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
}

.ul_option {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ul_option img {
    height: 30px;
    width: 30px;
    margin-right: 3px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/*CONTEÚDO CENTRAL DA PÁGINA*/

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 237px);
    width: 100%;
}

.user_info{
    width: 25vw;
}

.user_info h1{
    text-align: center;
}

.profile_img{
    width: 100%;  
}

.container{
    min-width: 500px;
    width: 45vw;
    max-width: 920px;
    height: 50vh;
    border-end-end-radius: 5%;
    border-bottom-left-radius: 5%;
    border: 1px solid black;
    background-color:rgb(246, 214, 214);
}

.nav{
    display: flex;
    border-bottom: solid 1px;
    text-align: center;
    background-color: #fff;
}

.nav h2{
    flex-grow: 1;
    border-right: solid 1px;
    padding: 5px 0;
    cursor: pointer;
    place-items: center;
    overflow: hidden;
}

.nav h2:hover{
    background-color: rgb(122, 137, 90);
    color: #EEEEEE;
}

.nav_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 31px);
    width: 100%;
    text-align: center;
    font-size: large;
    padding: 0 5rem;
}

.nav_content .active{
    display: block;
}

.nav_content > div {
    display: none;
    width: 100%;
}

.nav .active{
    background-color: rgb(122, 137, 90);
}


.input_container {
    display: flex;
    flex-flow: column nowrap;
}

label {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}

input {
    margin-bottom: 2rem;
    height: 30px;
    padding: 0 5px;
}

.confirm_bt {
    height: 35px;
    color: white;
    background-color: rgb(221, 49, 221);
    width: 80%;
    margin-top: 3rem;
    border: 1px solid black;
    cursor: pointer;
}

.confirm_bt:hover {
    background-color: rgb(189, 33, 189);
}


/* ESTILO DO RODAPÉ */

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #a0aba8;
    box-shadow: 0 -1px 2px 1px ;
    width: 100%;
    padding: 10px;
}

.dev_names{
    padding-top: 15px;
    display:flex;
    flex-flow: column nowrap;
    color: darkgreen;
    font-size: 1.6rem;
}

.unb{
    padding-top: 25px;
    align-items: center;
    display: flex;
    margin-right: 50px;
    color: rgb(26, 26, 122);
    font-size: 1.6rem;
}

.img_unb{
    max-height: 37px;
    max-width: 75px;
    height: auto;
    width: auto;
    margin-left: 20px;
}

.unb h2{
    text-wrap: nowrap;
}

.dev_names h5{
    text-wrap: nowrap;
}