@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

/*MAIN*/

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    justify-content: center;
    height: fit-content;
    flex-grow: 1;
}

.recipe {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    max-height: fit-content;
    transition: transform 0.3s;
    cursor: pointer;
}

.recipe:hover {
    transform: translateY(-5px);
}

.recipe h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 10px;
    text-align: center;
}

.img_container {
    width: 100%;
    overflow: hidden;
    height: 200px;
    border-bottom: 2px solid #ddd;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.img_container img:hover {
    transform: scale(1.05);
}

.recipe_info_container {
    padding: 15px;
    border-top: 1px solid #eee;
}

.recipe_info_container h2 {
    font-size: 2rem;
    color: #555;
    margin-bottom: 10px;
}

.recipe_info_container p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #666;
    font-family: 'Arial', sans-serif;
    text-align: justify;
}

.ingredients_list {
    font-size: 1.8rem;
    list-style: none;
}

.ingredients_list li {
    margin-bottom: 5px;
    color: #666;
}