<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie suas receitas!</title>

    <link rel="stylesheet" href="../static/css/add_recipe.css">
</head>
<body>
    <main>

        {% with messages = get_flashed_messages() %}
            <p class="flash_msg">{{messages[-1]}}</p>
        {% endwith %}

        <form class="add_recipe_form" method="post" action="/receitas/criar_receitas" enctype="multipart/form-data">
            <div class="input_container">
                <label>Nome da receita</label>
                <input type="text" name="name">
            </div>

            <fieldset class="ingredients_container">
                <legend>Ingredientes:</legend>

                <div class="input_container">
                    <input type="text" name="recipe_ingredient1">
                </div>

                <button type="button" class="add_ingredient_btn">+</button>
            </fieldset>

            <div class="input_container">
                <label>Modo de preparo</label>
                <input type="text" name="preparation">
            </div>

            <div class="input_container">
                <label>Categoria</label>
                <select name="category" id="category">
                    <optgroup label = "Receitas">
                        <option value="Bovinos">Bovinos</option>
                        <option value="Pescados">Pescados</option>
                        <option value="Aves">Aves</option>
                        <option value="Bolos">Bolos</option>
                        <option value="Doces">Doces</option>
                    </optgroup>
                </select>
            </div>

            <div class="input_container">
                <label>Imagem</label>
                <input class="img_input" type="file" name="img" accept="image/*">
                <div class="img_container"></div>
            </div>

            <button type="submit">Enviar</button>
        </form>
    </main>

    <script src="../static/js/add_recipe.js"></script>
</body>
</html>