<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="../static/css/base_header_footer.css">
    {% block css %}
    {% endblock %}

    <link rel="icon" href="../static/img/website_logo.png" >
</head>
<body>
    <header class="header">

        <a href="/"><img class="logo" src="../static/img/website_logo.png" alt="Logo Site"></a>

        <ul class="flex_row">
            <form class="header_form" method="post" action="/receitas">
                <li class="ul_option"><img src="../static/img/fork.png" alt="Ícone de garfo">
                    <div class="form_select">
                        <select name="category" id="category" >
                            <optgroup label = "Receitas">
                                <option value="Bovinos">Bovinos</option>
                                <option value="Pescados">Pescados</option>
                                <option value="Aves">Aves</option>
                                <option value="Bolos">Bolos</option>
                                <option value="Doces">Doces</option>
                            </optgroup>
                        </select>
                        <button class="header_btn" type="submit">Enviar</button>
                    </div>
                </li>
            </form>

            <li class="ul_option"><a href="/receitas/criar_receitas"><img src="../static/img/recipe_icon.png" alt="Ícone de um livro de receitas">Criar minha receita</a></li>
            <li class="ul_option"><a href="/perfil"><img src="../static/img/profile.png" alt="Ícone de usuário">{{ session["username"] }}</a></li>
            <li class="ul_option"><a href="/logout" class="logout_btn">Logout</a></li>
        </ul>

    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="dev_names"> 
            <h3 style="padding-bottom: 15px;   color: black;" >Desenvolvedores</h3>
            <h5>Eduardo Silva Waski - 231011284</h5>
            <h5>José Victor Gabriel - 231027121</h5>
        </div>
        <div class="unb">
            <h2>Universidade de Brasília</h2>
            <img class="img_unb" src="../static/img/unb_logo.png" alt="unb logo">
        </div>
    </footer>

    {% block script %}
    {% endblock %}
    
</body>
</html>