{% extends 'base_header_footer.html'%}

{% block title %}Receitas de Vó{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
<main>

    <!--TÍTULO RECEITAS-->

    <div class="homepage_title">
        <hr><h1 style="text-align: center" >Receitas</h1><hr>
    </div>

    <!--CAIXAS DE RECEITAS-->

    <div class="container_boxes">
        {% for recipe in recipes %}
            <article class="recipe_box" id="{{ recipe['_id'] }}">
                <img src="{{ url_for('recipe.get_image', file_id=recipe['image_id'])}}">
                <h2 class="recipe_text">{{recipe['name']}}</h2>
            </article>
        {% endfor %}

    </div>
</main>
{% endblock %}

{% block script %}
<script src="../static/js/index.js"></script>
{% endblock %}