<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas de Vó</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" type="image/x-icon" href="../static/img/website_logo.png">
</head>
<body>
    <header class="header">

        <a href="index.html"><img class="logo" src="../static/img/website_logo.png" alt="Logo Site"></a>

        <div class="input_div">
            <input class="search_input" type="text" placeholder="Pesquise pelas suas receitas favoritas!" name="search" id="search"/>
            <button type="submit"><img class="lupe_img" src="../static/img/lupe.png" alt=""></button>
        </div>

        <ul class="flex_row">
            <li class="ul_option"><img src="../static/img/fork.png">Receitas</li>
            <li class="ul_option"><img src="../static/img/profile.png">Perfil</li>
            <li class="ul_option"><img src="../static/img/profile.png">Login/Cadastro</li>
        </ul>

    </header>
    
</body>
</html>