{% extends 'base_header_footer.html'%}

{% block title %}Receitas de Vó{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
<main>

    <!--TÍTULO RECEITAS-->

    <div class="homepage_title">
        <hr><h1 style="text-align: center" >Receitas</h1><hr>
    </div>

    <!--CAIXAS DE RECEITAS-->

    <div class="container_boxes">
        <article class="recipe_box">
            <h2 class="recipe_text">Receita1</h2>
        </article>

        <article class="recipe_box">
            <h2 class="recipe_text">Receita2</h2>
        </article>

        <article class="recipe_box">
            <h2 class="recipe_text">Receita3</h2>
        </article>

        <article class="recipe_box">
            <h2 class="recipe_text">Receita4</h2>
        </article>

        <article class="recipe_box">
            <h2 class="recipe_text">Receita5</h2>
        </article>


        <article class="recipe_box">
            <h2 class="recipe_text">Receita6</h2>
        </article>
    </div>
</main>
{% endblock %}

{% block script %}{% endblock %}