<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Cadastro</title>

    <link href="../static/css/login_signup.css" rel="stylesheet">
</head>
<body>
    <main class="blank_container">

        <!-- FORM -->

        <form class="form_container" method="post">

            <h1 class="welcome_msg">Bem vindo!</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashed_msg" >
                        <li style="color: red;">{{ messages[-1] }}</li>
                    </ul>
                {% endif %}
            {% endwith %}


            <div class="input_container">
                <label>Nome de Usuário:</label>
                <input name="username" type="text">
            </div>

            <div class="input_container">
                <label>Senha:</label>
                <input name="password" type="password">
            </div>

            <div class="btn_container">
                <button class="login_btn" name="login_btn" type="submit">Login</button>

                <p class="first_time_msg">É sua primeira vez aqui? Clique abaixo!</p>
                <button class="signup_btn" name="signup_btn" type="submit">Cadastro</button>
            </div>

        </form>

        <!-- FORM END -->

    </main>
</body>
</html>