{% extends 'base_header_footer.html'%}


{% block title %}Perfil{% endblock %}


{% block css %}
<link rel="stylesheet" href="../static/css/profile_page.css">
{% endblock %}


{% block content %}
<main>
    <div class="user_info">
        <img class="profile_img" src="../static/img/user_profile_img.png" alt="Foto Perfil">
        <h1>{{ session["username"] }}</h1>
    </div>

    <!--ÁREA DE MUDANÇA DE DADOS-->

    <div class="container">
        <div class="nav">
            <h2 class="active">&#128151;</h2>
            <h2>Meus Comentários</h2>
            <h2>Editar Nome</h2>
            <h2>Editar Senha</h2>
            <h2 style="color: crimson; border-right: 0;">Deletar Conta</h2>
        </div>

        <div class="nav_content">

            <!-- Favourites -->

            <form class="farourites_form active" method="post" action="/perfil">
                <h1>Espaço reservado para favoritos</h1> 
            </form>

            <!-- Comments -->

            <form class="my_comments_form" method="post" action="/perfil">
                <h1>Espaço reservado para meus comentários</h1> 
            </form>

            <!-- Edit username -->

            <form class="edit_username_form" method="post" action="/perfil">

                <p class="no_display">Teste</p>                    

                <div class="input_container">
                    <label>Novo nome:</label>
                    <input type="text" id="new_username" name="new_username">
                </div>

                <div class="input_container">
                    <label>Confirme sua senha:</label>
                    <input type="password" class="password" name="password">
                </div>

                <button class="confirm_bt" value="edit_username_btn" type="submit">Confirmar</button>
            </form>

            <!-- Edit password -->

            <form class="edit_password_form" method="post" action="/perfil">

                <p class="no_display">Teste</p>

                <div class="input_container">
                    <label>Nova senha:</label>
                    <input type="password" id="new_password" name="new_password">
                </div>

                <div class="input_container">
                    <label>Confirme com a sua senha anterior:</label>
                    <input type="password" class="password" name="password">
                </div>

                <button type="submit" value="edit_password_btn" class="confirm_bt">Confirmar</button>
            </form>

            <!-- Delete Account -->

            <form class="delete_account_form" method="post" action="/perfil">

                <p class="no_display">Teste</p>

                <div class="input_container">
                    <label>Confirme sua senha:</label>
                    <input type="password" class="password" name="password">
                </div>

                <button type="submit" value="delete_account_btn" class="confirm_bt">Confirmar</button>
            </form>

        </div>
    </div>
</main>
{% endblock %}


{% block script %}
<script src="../static/js/profile_page.js"></script>
{% endblock %}