<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="icon" href="../static/img/website_logo.png" >
    <link rel="stylesheet" href="../static/css/profile_page.css">
</head>
<body>
    <header class="header">

        <a href="index.html"><img class="logo" src="../static/img/website_logo.png" alt="Logo Site"></a>

        <ul class="flex_row">
            <li class="ul_option"><img src="../static/img/fork.png">Receitas</li>
            <li class="ul_option"><img src="../static/img/profile.png">Username</li>
        </ul>

    </header>

    <main>
        <div class="user_info">
            <img class="profile_img" src="../static/img/user_profile_img.png" alt="Foto Perfil">
            <h1>
               Username
            </h1>
        </div>

<!--ÁREA DE MUDANÇA DE DADOS-->

        <div class="container">
            <div class="nav">
                <h2 class="active">&#128151</h2>
                <h2>Meus Comentários</h2>
                <h2>Editar Nome</h2>
                <h2>Editar Senha</h2>
                <h2 style="color: crimson; border-right: 0;">Deletar Conta</h2>
            </div>

            <div class="nav_content">
                <div class="active">
                    <h1>
                        Espaço reservado para favoritos
                    </h1> 
                </div>
                <div class="my_comments">
                    <h1>
                        Espaço reservado para meus comentários
                    </h1>
                </div>
                <div class="edit_username">
                    <h5>
                        Novo nome:
                    </h5>
                    <input type="text" id="new_username">
                    <h5>
                        Confirme com a sua senha:
                    </h5> 
                    <input type="password" id="password">
                </div>
                <div class="edit_password">
                    <h5>
                        Nova senha:
                    </h5> 
                    <input type="password" id="new_password">
                    <h5>
                        Confirme com a sua senha anterior:
                    </h5>
                    <input type="password" id="password">
                </div>
                <div>

                </div>
            </div>
            
            
            
        </div>
    </main>

            <!--RODAPÉ DA PÁGINA-->

        <footer>
            <div class="dev_names"> 
                <h3 style="padding-bottom: 15px;   color: black;" >Desenvolvedores</h3>
                <h5>Eduardo Silva Waski - 231011284</h5>
                <h5>José Victor Gabriel - 231027121</h5>
            </div>
            <div class="unb">
                <h2>Universidade de Brasília</h2>
                <img class="img_unb" src="../static/img/unb_logo.png" alt="unb logo">
            </div>
        </footer>
    <script>
        const navs = document.querySelectorAll(".nav h2")
        const navsContent = document.querySelectorAll(".nav_content div")
        navs.forEach((nav, index) => {
            nav.addEventListener("click", () => {
              navsContent.forEach((content) => {
                content.classList.remove("active")
              })  
              navs.forEach((nav) => {
                nav.classList.remove("active")
              })
              navs[index].classList.add("active")
              navsContent[index].classList.add("active")
            })
        })
    </script>
</body>
</html>