<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="icon" href="../static/img/website_logo.png" >
    <link rel="stylesheet" href="../static/css/profile_page.css">
</head>
<body>
    <header class="header">

        <a href="index.html"><img class="logo" src="../static/img/website_logo.png" alt="Logo Site"></a>

        <ul class="flex_row">
            <li class="ul_option"><img src="../static/img/fork.png">Receitas</li>
            <li class="ul_option"><img src="../static/img/profile.png">Username</li>
        </ul>

    </header>

    <main>
        <div class="user_info">
            <img src="../static/img/profile.png" alt="Foto Perfil">
            <h1>
                Username
            </h1>
        </div>
        <div class="container_navs">
            <div class="favorite_nav">
                <h2></h2>
            </div>
            <div class= "comments_nav">

            </div>
            <div class="edit_name_nav">

            </div>
            <div class="edit_password_nav">

            </div>
            <div class="delete_account_nav">

            </div>
        </div>
    </main>
</body>
</html>