{% extends 'base_header_footer.html' %}

{% block title %}Receitas de Vó{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/recipes.css">
{% endblock %}

{% block content %}
<main>
    {% for recipe in category_recipes %}
        <article class="recipe" id="{{recipe['_id']}}">

            <div>
                <h1>{{recipe['name']}}</h1>
                <div class="img_container">
                    <img src="{{ url_for('recipe.get_image', file_id = recipe['image_id']) }}" alt="Imagem da Receita">
                </div>
            </div>

            <div class="recipe_info_container">
                <h2><u>Ingredientes:</u></h2>
                <ul class="ingredients_list">
                    {% for ingredient in recipe['ingredients'] %}
                    <li>.{{ingredient}}</li>
                    {% endfor %}
                </ul>

            </div>

            <div class="recipe_info_container">
                <h2><u>Modo de Preparo:</u></h2>
                <p>{{recipe['preparation']}}</p>
            </div>

        </article>
    {%endfor%}

</main>
{% endblock %}

{% block script %}
<script src="../static/js/recipes.js"></script>
{% endblock %}